<!DOCTYPE html>
<html>
<head>
  <title>SharedTodoApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
      <a class="navbar-brand" href="/todos/index">Just Did it</a>
      <a class="navbar-brand" href="/movies/index">ToWatch</a>
    </div>
  </div>

  <%= yield %>

</body>
</html>
